<header class="tablero_header show" id="header">
	<h1>
		<a href="/<%= tablero.slug %>/">
			<% if( tablero.logo ){ %>
				<img src="<%= tablero.logo %>" title="<%= tablero.name %>" />
			<% }else{ %>
				<%= tablero.name %>
			<% } %>
		</a>
	</h1>
	
	<% if( tablero.slogan ){ %>
		<h2><%= tablero.slogan %></h2>
	<% } %>
	
	<h3><small><%= __('Powered by') %>: </small><a class="poweredby" href="/">Colaborativo</a></h3>	
</header>