<%- include parts/header.ejs %>

<div class="tablero" id="<%= tablero.id %>">

	<form action="/tablero/update/<%= tablero.id %>" method="GET">
		<fieldset>
			<h2><%= __('Board Settings') %></h2>

			<label for="id"><%= __('ID') %>:</label>
			<input required readonly type="text" name="id" id="id" value="<%= tablero.id %>" />

			<label for="name"><%= __('Name') %>:</label>
			<input required type="text" name="name" id="name" value="<%= tablero.name %>" />

			<label for="active">
				<%= __('Active') %>:

				<input type="radio" name="active" id="active_true" value="true" <% if ( tablero.active == true ) { %> checked <% } %> />
				<label for="active_true"><%= __('Yes') %></label>

				<input type="radio" name="active" id="active_false" value="false" <% if ( tablero.active == false ) { %> checked <% } %> />
				<label for="active_false"><%= __('No') %></label>

			</label>

			<label for="ispublic">
				<%= __('Is Public') %>:
				
				<input type="radio" name="ispublic" id="ispublic_true" value="true" <% if ( tablero.ispublic == true ) { %> checked <% } %> />
				<label for="ispublic_true"><%= __('Yes') %></label>

				<input type="radio" name="ispublic" id="ispublic_false" value="false" <% if ( tablero.ispublic == false ) { %> checked <% } %> />
				<label for="ispublic_false"><%= __('No') %></label>
				
			</label>

		</fieldset>

		<fieldset>

			<h2><%= fuentes.length %> <%= __('Board Sources') %></h2>

			<% if ( fuentes.length > 0 ){ %>
				<dl>
					<% for( var i=0; i < fuentes.length; i++ ) {%>
						<dt><%=  fuentes[i].network %>: <%=  fuentes[i].query %></dt>
						<dd>
							<ul>
								<li>
									<%= __('ID') %>: <%=  fuentes[i].id %>
								</li>
								<li>
									<%= __('Query') %>: <%=  fuentes[i].query %>
								</li>
								<li>
									<%= __('Active') %>: <%=  fuentes[i].active %>
								</li>

							</ul>
						</dd>
					<% } %>
				</dl>
			<% } %>
		</fieldset>
		
		<input type="submit" value="<%= __('Save') %>" />
	</form>
</div>