<%- include parts/header.ejs %>

<div class="tablero" id="<%= tablero.id %>">

	<form action="/tablero/update/<%= tablero.id %>" method="GET">
		<fieldset>
			<h2><%= __('Board Settings') %></h2>

			<div class="field">
				<label for="name"><%= __('Name') %>:</label>
				<input required type="text" name="name" id="name" value="<%= tablero.name %>" />
			</div>

			<div class="field">
				<label for="active">
					<%= __('Active') %>:

					<input type="radio" name="active" id="active_true" value="true" <% if ( tablero.active == true ) { %> checked <% } %> />
					<label for="active_true"><%= __('Yes') %></label>

					<input type="radio" name="active" id="active_false" value="false" <% if ( tablero.active == false ) { %> checked <% } %> />
					<label for="active_false"><%= __('No') %></label>

				</label>
			</div>

			<div class="field">			
				<label for="ispublic">
					<%= __('Is Public') %>:
					
					<input type="radio" name="ispublic" id="ispublic_true" value="true" <% if ( tablero.ispublic == true ) { %> checked <% } %> />
					<label for="ispublic_true"><%= __('Yes') %></label>

					<input type="radio" name="ispublic" id="ispublic_false" value="false" <% if ( tablero.ispublic == false ) { %> checked <% } %> />
					<label for="ispublic_false"><%= __('No') %></label>
					
				</label>
			</div>

		</fieldset>

		<fieldset>
			<h2><%= __('Theme') %></h2>

			<% if( themes.length > 0 ){ %>
				<select name="theme" id="theme">
					<% for( var i=0, selected=''; i < themes.length; i++ ) { %>
						<% selected=''; if( tablero.theme === themes[i].id ){ selected = 'selected' } %>
						<option <%= selected %> value="<%= themes[i].id%>"><%= themes[i].name %></option>
					<% } %>
				</select>
			<% }else{ %>
				<pre>No hay Themes</pre>
			<% } %>

		</fieldset>

		<fieldset>

			<h2><%= fuentes.length %> <%= __('Board Sources') %></h2>

			<% if ( fuentes.length > 0 ){ %>
				<dl>
					<% for( var i=0; i < fuentes.length; i++ ) { %>
						<dt><%=  fuentes[i].network %>: <%=  fuentes[i].query %></dt>
						<dd>
							<ul>
								<li>
									<%= __('ID') %>: <%=  fuentes[i].id %>
								</li>
								<li>
									<%= __('Query') %>: <%=  fuentes[i].query %>
								</li>
								<li>
									<%= __('Active') %>: <%=  fuentes[i].active %>
								</li>

							</ul>
						</dd>
					<% } %>
				</dl>
			<% } %>
		</fieldset>
		
		<input type="submit" value="<%= __('Save') %>" />
	</form>
</div>