<%- include parts/header.ejs %>
<div class="tablero" id="<%= tablero.id %>" ng-controller="TableroCtrl" scroll-glue> 

	<ul class="publicaciones" ng-view>
		<li id="p-{{publicacion.id}}" class="module {{publicacion.color_class}} publicacion {{publicacion.red}} item four{{publicacion.data.in_reply_to_status_id_str}}" ng-repeat="publicacion in publicaciones | limitTo:50" danny-packery>

			<article ng-if="publicacion.red=='twitter'">
				<a href="https://twitter.com/{{publicacion.data.user.screen_name}}/status/{{publicacion.data.id_str}}" target="_blank">
					<i class="red-icon fa fa-twitter"></i>	
				</a>
				<figure ng-if="publicacion.data.entities.media[0].type=='photo'">
					<img src="{{publicacion.data.entities.media[0].media_url}}" />
				</figure>
				<blockquote ng-bind-html=" publicacion.data.text | tweet ">
					
				</blockquote>
				<div class="clearfix article-meta">
					<div class="table-row">
						<div class="meta-item autor">
							<!-- <img width="48" height="48" src="{{publicacion.data.user.profile_image_url}}" /> -->
							<a href="https://twitter.com/{{publicacion.data.user.screen_name}}" target="_blank"><i class="fa fa-user"></i> {{publicacion.data.user.name}}</a>
						</div>
						<div class="meta-item date">
							<i class="fa fa-calendar"></i> {{publicacion.data.created_at | amCalendar }}
						</div>
					</div>
					<div class="table-row">
						<div class="meta-item time">
							<i class="fa fa-clock-o"></i> <span am-time-ago="publicacion.data.created_at">{{publicacion.createdAt}}</span>
						</div>
						<div class="favs meta-item fuente fuente-{{publicacion.data.defuente}}">
							<i class="fa fa-heart"></i> <span>0</span>
						</div>
					</div>
				</div>
			</article>

			<article ng-if="publicacion.red=='instagram'">
				<a href="{{publicacion.data.link}}" target="_blank">
					<i class="red-icon fa fa-instagram"></i>
				</a>
				
				<img src="{{publicacion.data.images.standard_resolution.url}}" width="{{publicacion.data.images.standard_resolution.width}}" height="{{publicacion.data.images.standard_resolution.height}}" />
				<!-- <h2>{{publicacion.data.caption.text}}</h2> -->

				<div class="clearfix article-meta">
					<div class="table-row">
						<div class="meta-item autor">
							<a href="https://instagram.com/{{publicacion.data.user.username}}" target="_blank"><i class="fa fa-user"></i> {{publicacion.data.user.full_name}}</a>
						</div>
						<div class="meta-item date">
							<i class="fa fa-calendar"></i> {{publicacion.createdAt | amCalendar }}
						</div>
					</div>

					<div class="table-row">
						<div class="meta-item time">
							<i class="fa fa-clock-o"></i> <span am-time-ago="publicacion.createdAt">{{publicacion.createdAt}}</span>
						</div>
						<div class="favs meta-item fuente fuente-{{publicacion.data.defuente}}">
							<i class="fa fa-heart"></i> <span>0</span>
						</div>
					</div>
				</div>
			</article>
		</li>
	</ul>

	<% if( patrocinadores.length > 0 ) { %>
		<ul class="patrocinadores">
			<% patrocinadores.forEach(function(patrocinador) { %>
				<li><a href="<%= patrocinador.url %>"><img src="<%= patrocinador.image %>" title="<%= patrocinador.name %>"/></a></li>
			<% }) %>
		</ul>
	<% } %>
</div>