<%- include parts/header.ejs %>
<div class="tablero" id="<%= tablero.id %>" ng-controller="TableroCtrl" scroll-glue> 

	<ul class="publicaciones" ui-view>
		<li class="module {{publicacion.type}} {{publicacion.color_class}} publicacion {{publicacion.red}} item four{{publicacion.data.in_reply_to_status_id_str}}" ng-repeat="publicacion in publicaciones track by publicacion.id | limitTo:50" danny-packery oc-modal-open="{url: '/js/app/views/modal.html', controller: 'SingleCtrl', init: { publicacion: publicacion }}">

			<% if( isAutenticated ) { %>
				<a class="moderate-link" href="#" my-Modal="" ng-click="openWindow( '{{publicacion.id}}' )">Moderar</a>
			<% } %>

			<div ng-include src="'/js/app/views/article.html'"></div>

		</li>
	</ul>

	<% if( patrocinadores.length > 0 ) { %>
		<ul class="patrocinadores">
			<% patrocinadores.forEach(function(patrocinador) { %>
				<li>
					<a href="<%= patrocinador.url %>"><img src="<%= patrocinador.image %>" title="<%= patrocinador.name %>"/></a>
				</li>
			<% }) %>
		</ul>
	<% } %>
</div>